@(title: String)(content: Html)

<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<title>@title</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<style>
		body{
			background:url(http://images.dailytech.com/nimage/laferrari_5.jpg);
			font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    		color: #ffffff;
    		font-size: 17px;
   			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		.container{
			margin-top:10px;
			text-align:left;
			background-color: #8F0000;
		}
	</style>
</head><body>
	@topmenu()
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				@content
			</div>
			<div class="col-xs-4">
			</div>
		</div>
	</div>
</body></html>
