@(students: List[Student])

@main("Form for students") {
	
	<h1>C3L Students</h1>
	<h4>Please enter your details:</h4>
	
	<table class="form1 table table-bordered" style="
    width:750px;
    margin-top: 2%;
    margin-left: 2%;
    text-align: left;
    background-color:#561E4C;
    font-family:"Times New Roman",Georgia,Serif;
">
        <thead>
          <tr>
          	<th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          	@for(student <- students){
         		<td>@student.id</td>
           		<td>@student.name</td>
           		<td>@student.lastname</td>
           		<td>@student.email</td>
           		<td>@student.phoneNumber</td>
          </tr>
         	 	}
        </tbody>
      </table>
	
	
	<br/>
	
	<!-- @if(flash.containsKey("error")) {
		You have an error<br />
	}
	
	@if(flash.containsKey("firsterror")) {
		@flash.get("firsterror")<br />
	} --> 
	<form action="/new-student" method="post">
		@if(flash.containsKey("name")) {
			@flash.get("name")<br />
		}
		Firstname: <input type="text" name="name" /><br/>
		
		@if(flash.containsKey("lastname")) {
			@flash.get("lastname")<br />
		}
		Lastname: <input type="text" name="lastname" /><br/>
		
		@if(flash.containsKey("email")) {
			@flash.get("email")<br />
		}
		Email: <input type="text" name="email" /><br/>
		
		@if(flash.containsKey("phoneNumber")) {
			@flash.get("phoneNumber")<br/>
		}
		PhoneNumber: <input type="text" name="phoneNumber" /><br/>
		<input type="submit" name="submit" />
	</form>
}