@* newCategory Template File *@
@(categories: List[Category])
@main("CarWebshop"){
	
	<p><a href="@routes.CategoryController.showAllCat">Show all categories</a></p>
	
		<form action="/new-category" method="post" role="form">
  		<div class="form-group">
    	<label for="category-name">Category name</label>
    	<input type="text" class="form-control" id="category-name" name="name" placeholder="Name..">
  		</div>
  		
  		<div class="form-group">
    	<label for="category-description">Description</label>
    	<input type="text" class="form-control" id="description-name" name="description" placeholder="Description..">
  		</div>
  		
  		<button type="submit" class="btn btn-default">Submit</button>
		</form>
	<p></p>
}