@* startpage Template File *@
@(param: Any) 
<!DOCTYPE html>

<html><head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<style>
		body{background:url(http://images.dailytech.com/nimage/laferrari_5.jpg);}
		.container{margin-top:100px;text-align:left;}
	</style>
</head><body>
<div class="less">
<a href=href="@routes.Assets.at("hej.txt")">Our Rules</a>
	<div class="container">
	<h1>Sport Cars</h1>
	<h4>Lamborghini</h4>
	<h4><a href="http://localhost:9000/shoppingvagn">Porsche</a></h4>
	<h4>McLaren</h4>
	<h4>Audi</h4>
	<h4>Mercedes</h4>
	<h2>Join us</h2>  
	<a href="http://lossantos-swedmaffia.com">Visit my crew!</a>
	</div>
</body></html>