@* startpage Template File *@
@(param: Any) 
<!DOCTYPE html>

<html><head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<style>
		body{background:url(http://just9arrett.files.wordpress.com/2013/03/ferrari-la-ferrari-bo.jpg);}
		.container{margin-top:200px;text-align:center;}
	</style>
</head><body>
<div class="less">
<a href=href="@routes.Assets.at("hej.txt")">Our Rules</a>
	<div class="container">
	<h1>LosSantos-SwedMaffia</h1>
	<p>Swedish GTA crew that rule the city of Los Santos all along.</p>
	<h2>Join us</h2>  
	<p><a href="http://localhost:9000/categorysida">categorysida</a></p>
	<p><a href="http://localhost:9000/produktsida">produktsida</a></p>
	<p><a href="http://localhost:9000/shoppingvagn">shoppingvagn</a></p>
	<p><a href="http://localhost:9000/checkout">checkout</a></p>
	</div>
</body></html>